<ul>
    <li>
        <a href="/">
            Главная
        </a>
    </li>
    <li>
        <a href="/add-course/">
            Создать курс
        </a>
    </li>
    <li>
        <a href="/courses-list/">
            Список курсов
        </a>
    </li>
    <li>
        <a href="/add-category/">
            Создать категорию
        </a>
    </li>
    <li>
        <a href="/categories-list/">
            Список категорий
        </a>
    </li>
    <li>
        <a href="/contact_us/">
            Контакты
        </a>
    </li>
</ul>
