<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		{{ context.page_name }}
    </title>
	    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<h1>{{ context.page_header }}</h1>
	</div>
	<h1>Напишите нам</h1>
    <form method="post">
        <input type="text" name="title" placeholder="Тема">
		<br>
		<br>
        <input type="text" name="text" placeholder="Текст сообщения">
		<br>
		<br>
        <input type="email" name="email" placeholder="email">
		<br>
		<br>
		<button type="submit">Отправить</button>
    </form>
	<br>
	<div class="footer">
		<div class="copyright">
		© Copyright - 2021. All Rights Reserved.
		</div>
	</div>
</body>
</html>
